@using CV_ASP.NET.Models.ViewModels
@model AnvandarSidaViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
@{
    ViewData["Title"] = "Profil";
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
<div class="row">
    <div class="col-12">
    <div class="text-center">
    <h1 class="display-4" style="font-family: 'Helvetica', sans-serif;">Min profil</h1>
    </div>
    <div class="profil-container">
    <div class="profil-info" style="padding-bottom:60px">
    <h4>Mina uppgifter</h4>
        <p><i class="fas fa-user"></i> <span class="label">Anvandarnamn:</span> @Html.DisplayFor(p => p.anvandare.Anvandarnamn)</p>
        <p><i class="fas fa-user"></i> <span class="label">Förnamn:</span> @Html.DisplayFor(p => p.anvandare.Fornamn)</p>
        <p><i class="fas fa-user"></i> <span class="label">Efternamn:</span> @Html.DisplayFor(p => p.anvandare.Efternamn)</p>
        <p><i class="fas fa-envelope"></i> <span class="label">Epost:</span> @Html.DisplayFor(p => p.anvandare.Email)</p>
        <p><i class="fas fa-city"></i> <span class="label">Stad:</span> @Html.DisplayFor(p => p.anvandare.Stad)</p>
        <p><i class="fas fa-phone"></i> <span class="label">Telefonnummer:</span> @Html.DisplayFor(p => p.anvandare.PhoneNumber)</p>
                <a asp-controller="AndraUppgifter" asp-action="RedigeraUppgifter" asp-route-anvId="@Model.anvandare.Id" class="btn btn-primary" style="background-color: black; color: white";>
            Redigera användare
        </a>

        @if (Model?.CV == null && Model?.anvandare?.Id != null && Model.anvandare.Id.Equals(Model?.InloggadAnvandare))
        {
                    <div class="create-cv">
                        <a class="btn btn-dark btn-sm" asp-controller="Cv" asp-action="SkapaCv">Lägg till ett CV</a>
                        <br />
                    </div>
        }

        @if (Model.CV != null)
        {
                    <div class="view-cv">
                        <form method="post" asp-controller="Cv" asp-action="VisaCv" asp-route-anvid="@Model.anvandare.Id">
                            <input type="submit" class="btn btn-dark btn-sm" value="Visa CV" />
                        </form>
                    </div>
        }
    </div>
</div>
</div>



