@model CV_ASP.NET.Models.ViewModels.SokViewModel

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h2>Sök användare</h2>

<!-- Sökformulär -->
<form asp-controller="Sok" asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchString">Sök på förnamn, efternamn eller användarnamn</label>
        <input type="text" class="form-control" id="searchString" name="searchString" />
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: black; color: white; margin-right">Sök</button>
</form>

@if (Model.Anvandare != null && Model.Anvandare.Any())
{
    <h3>Sökresultat</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Användarnamn</th>
                <th>Namn</th>
                <th>Profil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anvandare in Model.Anvandare)
            {
                <tr>
                    <td>@anvandare.Anvandarnamn</td>
                    <td>@anvandare.Fornamn @anvandare.Efternamn</td>
                    <td>
                   
                            @if (!anvandare.PrivatProfil || User.Identity.IsAuthenticated)
                            {
                            <form method="post" asp-controller="Cv" asp-action="VisaCv" asp-route-anvid="@anvandare.Id">
                                <input type="submit" class="btn btn-dark btn-sm" value="Till profil" />
                            </form>
                            }
                            else
                            {
                            <span class="text-muted">Privat profil</span>
                            }
                 

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else 
{
    <p>Inga användare hittades.</p>
}
