@using CV_ASP.NET.Models.ViewModels
@model VisaCvViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="sites.css">

@{
    ViewData["Title"] = "Visa CV";
}

<h2>@ViewData["Title"]</h2>

<div class="anvandar-sida">
    <div class="anvandar-info" style="padding-bottom:60px">
        <h3>Profilbild:</h3>
        <img src="~/Images/@Html.ValueFor(p => p.Cv.Profilbild)" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
        <p><i class="fas fa-user"></i> <span class="label">Anvandarnamn:</span> @Html.DisplayFor(p => p.anvandare.UserName)</p>
        <p><i class="fas fa-user"></i> <span class="label">Förnamn:</span> @Html.DisplayFor(p => p.anvandare.Fornamn)</p>
        <p><i class="fas fa-user"></i> <span class="label">Efternamn:</span> @Html.DisplayFor(p => p.anvandare.Efternamn)</p>
        <p><i class="fas fa-envelope"></i> <span class="label">Epost:</span> @Html.DisplayFor(p => p.anvandare.Email)</p>
        <p><i class="fas fa-city"></i> <span class="label">Stad:</span> @Html.DisplayFor(p => p.anvandare.Adress.Stad)</p>
        <p><i class="fas fa-phone"></i> <span class="label">Telefonnummer:</span> @Html.DisplayFor(p => p.anvandare.PhoneNumber)</p>
    </div>

</div>


<a class="btn btn-dark btn-sm" asp-controller="Meddelande" asp-action="Kontakta">Kontakta mig</a>
<br />
    <h1>Rensa alla CV:n</h1>

    <form method="post" asp-action="TaBortAllaCvn">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Rensa alla CV:n</button>
        </div>
    </form>

<div class="cv-sida">
 <div class="cv-competences">
        <h4>Kompetenser</h4>
        <ul>
        <li>Kassavana</li>
        </ul>
    </div>

    <div class="cv-experiences">
        <h4>Erfarenheter</h4>
        <ul>
        <li>Ica</li>
        </ul>
    </div>

    <div class="cv-educations">
        <h4>Utbildningar</h4>
        <ul>
            <li>Systemvetenskap</li>
        </ul>
    </div>
</div>

@if (Model.anvandare.Anvandarnamn.Equals(User?.Identity?.Name))
{
    <a class="btn btn-dark" asp-action="RedigeraCv" asp-controller="Cv" asp-route-id="@Model.Cv.Cvid">Redigera Cv</a>
    <br />
    <a class="btn btn-dark" asp-action="LaggTillKomp" asp-controller="Kompetens">Lägg till kompetens</a>
    <br />
    <a class="btn btn-dark" asp-action="LaggTillErf" asp-controller="Erfarenhet">Lägg till erfarenhet</a>
    <br />
    <a class="btn btn-dark" asp-action="LaggTillUtb" asp-controller="Utbildning">Lägg till utbildning</a>
    <br />
    <p>Totalt antal besökare: @Model.Cv.AntalBesokare</p>
    <br />
}