@using CV_ASP.NET.Models.ViewModels
@model VisaCvViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="sites.css">

@{
    ViewData["Title"] = "Visa CV";
}



<div class="anvandar-sida">
    <div class="anvandar-info" style="padding-bottom:60px">
        <p><i class="fas fa-user"></i> <span class="label">Anvandarnamn:</span> @Html.DisplayFor(p => p.anvandare.Anvandarnamn)</p>
        <p><i class="fas fa-user"></i> <span class="label">Förnamn:</span> @Html.DisplayFor(p => p.anvandare.Fornamn)</p>
        <p><i class="fas fa-user"></i> <span class="label">Efternamn:</span> @Html.DisplayFor(p => p.anvandare.Efternamn)</p>
        <p><i class="fas fa-envelope"></i> <span class="label">Epost:</span> @Html.DisplayFor(p => p.anvandare.Email)</p>
        <p><i class="fas fa-city"></i> <span class="label">Stad:</span> @Html.DisplayFor(p => p.anvandare.Stad)</p>
        <p><i class="fas fa-phone"></i> <span class="label">Telefonnummer:</span> @Html.DisplayFor(p => p.anvandare.PhoneNumber)</p>
        <a class="btn btn-dark btn-sm" asp-controller="Meddelande" asp-action="SkickaMeddelande" asp-route-tillAnvandareId="@Model.anvandare.Id">
            Kontakta mig
        </a>


    </div>
    <div class="bild">

        <img src="~/Images/@Html.ValueFor(p => p.Cv.Profilbild)" class="img-fluid" alt="Responsive image" asp-append-version="true" height="200px" width="200px" />
        <p>@Model.Cv.Beskrivning</p>
    </div>
</div>


<div class="cv-container">
    <div class="cv-sida">


        <h1>Erfarenheter, Kompetenser och Utbildningar</h1>

        <h2>Erfarenheter</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Arbetsgivare</th>
                    <th>Titel</th>
                    <th>Beskrivning</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var erfarenheter in Model.erfarenheter)
                {
                    <tr>
                        <td>@erfarenheter.Arbetsgivare</td>
                        <td>@erfarenheter.Titel</td>
                        <td>@erfarenheter.Beskrivning</td>
                        <td>@erfarenheter.StartDatum</td>
                        <td>@erfarenheter.Slutdatum?.ToString("yyyy-MM-dd")</td>
                        <td>
                            @if (Model.anvandare.Anvandarnamn.Equals(User?.Identity?.Name))
                            {

                                <form method="post" asp-controller="Cv" asp-action="TaBortErf" asp-route-id="@erfarenheter.Eid">
                                    <input class="btn btn-dark" type="submit" value="Ta bort" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        @* <form method="post" asp-controller="Cv" asp-action="TaBortErf" asp-route-id="@erfarenhet.erfarenhet.Eid">
            <input class="btn btn-dark" type="submit" value="Ta bort" />
        </form> *@
        <h2>Kompetenser</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Kompetensnamn</th>
                    <th>Beskrivning</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kompetens in Model.kompetenser)
                {
                    <tr>
                        <td>@kompetens.KompetensNamn</td>
                        <td>@kompetens.Beskrivning</td>
                        <td>
                            @if (Model.anvandare.Anvandarnamn.Equals(User?.Identity?.Name))
                            {

                                <form method="post" asp-controller="Cv" asp-action="TaBortKomp" asp-route-id="@kompetens.kid">
                                    <input class="btn btn-dark" type="submit" value="Ta bort" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>Utbildningar</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Kurs/Program</th>
                    <th>Beskrivning</th>
                    <th>Startdatum</th>
                    <th>Slutdatum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var utbildning in Model.utbildningar)
                {
                    <tr>
                        <td>@utbildning.Instutition</td>
                        <td>@utbildning.Kurs_program</td>
                        <td>@utbildning.Beskrivning</td>
                        <td>@utbildning.StartDatum?.ToString("yyyy-MM-dd")</td>
                        <td>@utbildning.SlutDatum?.ToString("yyyy-MM-dd")</td>
                        <td>
                            @if (Model.anvandare.Anvandarnamn.Equals(User?.Identity?.Name))
                            {

                                <form method="post" asp-controller="Cv" asp-action="TaBortUtb" asp-route-id="@utbildning.uid">
                                    <input class="btn btn-dark" type="submit" value="Ta bort" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>Senaste skapade projektet</h2>
        
        @if(ViewBag.Projekt != null)
        {
            <div>
            <h3>@ViewBag.Projekt.Namn</h3>
            <p>@ViewBag.Projekt.Beskrivning</p>
            </div>
        }
        else
        {
            <p>Det finns inga projekt</p>
        }

        <h2>Projekt du är medlem i</h2>
        @if (ViewBag.SenasteDeltagandeProjekt != null && ((List<Projekt>)ViewBag.SenasteDeltagandeProjekt).Any())
        {
            @foreach(var projekt in (List<Projekt>)ViewBag.SenasteDeltagandeProjekt)
            {
                <div>
                        <h3 class="card-title">@projekt.Namn</h3>
                        <p class="card-text">@projekt.Beskrivning</p>
                </div>
            }
        }
        else
        {
            <p>Du har inte deltagit i några projekt ännu.</p>
        }
    </div>
</div>




@if (Model.anvandare.Anvandarnamn.Equals(User?.Identity?.Name))
{
    <div class="d-flex">
        <a class="btn btn-dark me-2" asp-action="RedigeraCv" asp-controller="Cv">Redigera Cv</a>
        <a class="btn btn-dark me-2" asp-action="LaggTillKomp" asp-controller="Cv">Lägg till kompetens</a>
        <a class="btn btn-dark me-2" asp-action="LaggTillErf" asp-controller="Cv">Lägg till erfarenhet</a>
        <a class="btn btn-dark me-2" asp-action="LaggTillUtb" asp-controller="Cv">Lägg till utbildning</a>
        <a class="btn btn-dark me-2" asp-action="SkapaProjekt" asp-controller="Projekt">Skapa nytt projekt</a>
    </div>
    <p>Totalt antal besökare: @Model.Cv.AntalBesokare</p>
}


<h1>Rensa alla CV:n</h1>

<form method="post" asp-action="TaBortAllaCvn">
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Rensa alla CV:n</button>
    </div>
</form>







